@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC C# e Angular JS</title>
    @* Se não for utilizado o razor devesse carregar os links, pernitentes ao angular e css *@

</head>
<body ng-app="">
    <div ng-controller="" ng-init="">
        <div ng-include=""></div>
    </div>
</body>
</html>
