@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC C# e Angular JS</title>
    @* Se não for utilizado o razor devesse carregar os links, pernitentes ao angular e css *@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

</head>
<body ng-app="">
    <div ng-controller="" ng-init="">
        @* teste *@
        <div ng-include=""></div>
    </div>
</body>
</html>
